---
- hosts: all
  become: true
  tasks:      
    - name: Install packages that allow apt to be used over HTTPS
      apt:
        name: "{{ packages }}"
        state: present
        update_cache: yes
      vars:
        packages:
        - apt-transport-https
        - ca-certificates
        - curl
        - gnupg-agent
        - software-properties-common

    - name: Add an apt signing key for Docker
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: Add apt repository for stable version
      apt_repository:
        repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu bionic stable
        state: present

    - name: Install docker and its dependecies
      apt: 
        name: "{{ packages }}"
        state: present
        update_cache: yes
      vars:
        packages:
        - docker-ce 
        - docker-ce-cli 
        - containerd.io
      notify:
        - docker start
        
    - name: Install docker-compose
      shell: sudo curl -L https://github.com/docker/compose/releases/download/1.25.0-rc2/docker-compose-`uname -s`-`uname -m` -o /usr/local/bin/docker-compose
       ###
    - name: Set chmod docker-compose
      shell: sudo chmod +x /usr/local/bin/docker-compose

    - name: Copy local to client Docker-compose.yml
      copy:
        src: docker-compose.yaml
        dest: /home/vagrant/docker-compose.yaml
        mode: 0644
        
    - name: Config system for elasticsearch
      shell: sysctl -w vm.max_map_count=262144
      
    - name: Run dockercompose up test1
      shell: docker-compose --project-directory /home/vagrant up -d
            
  handlers:
    - name: docker start
      service: name=docker state=started
